/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

:root {
    --mainColor: #7b5244;
    --subColor: #333;
}

a {
    text-decoration: none;
}

/* Common Style */

.container {
    width: 80%;
    margin: auto;
}

.list-unstyled {
    list-style: none;
}


.section-padding {
    padding: 40px 0;
}

.section-padding-2 {
    padding: 20px 0;
}


.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header .tittle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-header .line {
    background-color: var(--mainColor);
    width: 100px;
    height: 2px;
    margin: auto;
    display: block;
    transition: width .5s;
}

.section-header:hover .line {
    width: 150px;
}



/* bolts */

section.slider {
    position: relative;
}

section.slider ul {

    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

section.slider ul li {
    display: inline-block;
    padding: 6px;
    border-radius: 50%;
    background-color: #d7d2d2;
    width: 5px;
    height: 5px;
    transition: transform .2s;
}

section.slider ul li.active {
    background-color: var(--mainColor);
    margin-right: 8px;

}

section.slider ul li:hover {
    transform: scale(1.2);
    background-color: var(--mainColor);

}

/* Header Section  */

.header {
    padding: 30px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content ul li {
    display: inline-block;
}

.header-content img {
    flex: 1;
    max-width: 130px;
}

.header-content .navbar {
    flex: 3;
    text-align: center;
}

.header-content .navbar li .link-item {
    display: block;
    color: var(--subColor);
    padding: 6px 22px;
    font-weight: 400;
    position: relative;
}

.header-content .navbar ul li .link-item:before,
.header-content .navbar ul li .link-item:after {
    content: "";
    border-color: var(--mainColor);
    border-style: solid;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .2s;
}

.header-content .navbar ul li .link-item:before {
    width: 99%;
    height: 100%;
    transform: scale3d(1, 0, 1);
    border-width: 0 2px;
}

.header-content .navbar ul li .link-item:after {
    width: 101%;
    height: 91%;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
    border-width: 2px 0;
}

.header-content .navbar ul li .link-item:hover:before {
    transform: scale3d(1, 1, 1);
}

.header-content .navbar ul li .link-item:hover::after {
    transform: scale3d(1, 1, 1);
    transition-delay: .2s;
}

.header-content .header-login {
    flex: 1;
    text-align: right;
}

.header-content .header-login li {
    display: inline-block;
    padding: 10px;
    position: relative;
}

.header-content .header-login li:last-child i {
    margin-right: 8px;
}

.header-content .header-login li:last-child i:after {
    content: "0";
    background-color: var(--mainColor);
    position: absolute;
    left: 30px;
    bottom: 7px;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 13px;

}


/* Header DropDown */

.dropdown {
    position: relative;
}

.dropdown-menu {
    background-color: #fff;
    position: absolute;
    width: 450px;
    border: 2px solid var(--mainColor);
    padding: 5px;
    margin: 14px 0 0 20px;
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    transition: transform .5s, visibility .5s;
    z-index: 10;

}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.dropdown-menu ul {
    display: table-cell;
    text-align: left;
}

.dropdown-menu ul li:first-child a {
    display: block;
    margin-bottom: 10px;
    border-bottom: 2px dotted var(--mainColor);
    color: black;
    font-weight: bold;

}

.dropdown-menu ul li {
    line-height: 1.7;
}

/* Slider Section */


section.slider img {
    width: 100%;
}



/* Category Section */

.category-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.category-item {
    position: relative;
}

.category-item img {
    width: 100%;
}

.category-item .category-item-sub-tittle {
    color: gray;
    font-weight: normal;
    text-transform: lowercase;
}

.category-item i.icon {
    background-color: var(--mainColor);
    color: #fff;
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

.category-item:hover i.icon {
    visibility: visible;
    opacity: 1;
}


/* Discount */

.discount {
    display: flex;
    margin: 30px 0;
}

.discount-desc {
    background-color: #f7f3ef;
    flex: 2;
    padding: 40px;
    text-align: center;
    position: relative;

}

.discount .discount-desc .top .icon {
    position: absolute;
    top: -12px;
    left: -9px;
    font-size: 50px;
    color: var(--mainColor);
}

.discount .discount-desc .top {
    padding-left: 60px;
    position: relative;
    margin-bottom: 30px;
    text-align: left;

}

.discount-desc .discount-sub-tittle {
    color: gray;
    margin: 10px 0;
    display: block;
    font-size: larger;
}

.discount-desc .top+p {
    line-height: 1.5;
}

.discount-bolts-line {
    position: absolute;
    bottom: 13px;
    right: 34px;
    text-align: right;
    position: absolute;
}

.discount-desc .discount-bolts-line span {
    width: 50px;
    height: 2px;
    background-color: var(--mainColor);
    display: inline-block;
    margin-left: 5px;
}




.discount-item {
    position: relative;
    flex: 1;
}

.discount-item img {
    width: 100%;
    height: 100%;
    transition: transform .5s;


}

.discount-item .discount-item-info {
    position: absolute;
    left: 10px;
    top: 33px;
}

.discount-item:hover img {
    transform: scale(1.02);
}

.discount-item-info h3 {
    color: var(--mainColor);
    font-weight: normal;
}

.discount-item-info h2 {
    font-size: 20px;
    font-weight: normal;
}

.discount-item:nth-child(2) {
    margin: 0 7px;
}

/* Sprites Section  */
.sprites {
    display: flex;
}

.sprite-item {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--mainColor);
}

.sprites-item:last-child {
    border-right: none;
}

.sprite-item .sprite-icon {
    background-image: url('../images/service/service-icon.png');
    height: 60px;
    background-repeat: no-repeat;
}

.sprite-item .sprite-icon-1 {
    background-position: center 5px;
    transition: all .5s;
}

.sprite-item .sprite-icon-2 {
    background-position: center -178px;
    transition: all .5s;
}

.sprite-item .sprite-icon-3 {
    background-position: center -360px;
    transition: all .5s;
}

.sprite-item .sprite-icon-4 {
    background-position: center -541px;
    transition: all .5s;
}

.sprite-item .sprite-icon-5 {
    background-position: center -726px;
    transition: all .5s;
}

.sprite-item:hover .sprite-icon-1 {
    background-position: center -86px;
}

.sprite-item:hover .sprite-icon-2 {
    background-position: center -273px;
}

.sprite-item:hover .sprite-icon-3 {
    background-position: center -455px;
}

.sprite-item:hover .sprite-icon-4 {
    background-position: center -639px;
}

.sprite-item:hover .sprite-icon-5 {
    background-position: center -826px;
}

.sprite-info h3 {
    font-size: 18px;
}

.sprite-info span {
    font-size: 15px;
    color: gray;
}



.list-products {
    display: flex;
    justify-content: center;
}

.list-products li {
    margin: 10px 20px;
    font-size: 18px;
    user-select: none;
}

.list-products li:nth-child(1) {
    color: var(--mainColor);
}


.list-products li:hover {
    color: var(--mainColor);
}

.product-items {
    display: flex;
    padding: 20px 0;
    margin-bottom: 450px;
}

.product-image {
    position: relative;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .2s;
}

.product-item {
    flex: 1;
    margin-right: 10px;
    height: 100px;
}

.product-item:hover .product-overlay {
    transform: scaleX(1);
}

.product-overlay ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-overlay ul li {
    width: 40px;
    height: 40px;
    background-color: var(--mainColor);
    text-align: center;
    display: inline-block;
}

.product-overlay ul li i {
    line-height: 40px;
    color: #fff;
}

.product-item .product-info i {
    margin-top: 10px;
}

.product-item .product-info i.active {
    color: yellow;
}

.product-item .product-info span {
    display: block;
    margin: 5px 0;
}


/* History Section */

.history {
    display: flex;
    margin: 30px 0;
}

.history-desc {
    background-color: #f7f3ef;
    flex: 2;
    padding: 40px;
    position: relative;
    border: 2px solid var(--mainColor);

}

.history .history-desc .top .icon {
    position: absolute;
    top: -22px;
    left: -1px;
    font-size: 26px;
    color: var(--mainColor);
}

.history .history-desc .top {
    padding-left: 60px;
    position: relative;
    margin-bottom: 30px;
    text-align: left;

}

.history-desc .history-tittle {
    text-align: center;
    margin-right: 155px;
}

.history-desc .top+p {
    line-height: 1.5;
}

.history-bolts-line {
    position: absolute;
    bottom: 13px;
    right: 34px;
    text-align: right;
    position: absolute;
}

.history-desc .history-bolts-line span {
    width: 50px;
    height: 2px;
    background-color: var(--mainColor);
    display: inline-block;
    margin-left: 5px;
}




.history-item {
    position: relative;
    flex: 1;
    margin-right: 20px;
    border: 2px solid var(--mainColor);
}

.history-item img {
    width: 100%;
    height: 100%;
    transition: transform .5s;



}


.history-item:hover img {
    transform: scale(1.02);
}


.history-item:nth-child(2) {
    margin: 0 7px;
}



/* Market Section  */

.market-items {
    display: flex;
}

.market-item {
    flex: 1;
    padding: 10px;
}

.market-item img {
    width: 100%;
    height: 100%;
}

/* Footer Section  */




footer {
    background-color: #000;
    height: 271px;
    text-align: center;
}

.footer-items {
    display: flex;
}

.footer-items .item-1 {
    flex: 3;
    text-align: left;

}

.footer-items .item-1 img {
    width: 110px;
    height: 80px;
}

.footer-items .item-1 p {
    color: gray;
    line-height: 1.3;
}

.footer-items .item-2 {
    flex: 2;
    padding: 25px;
}

.footer-items .item-2 p {
    margin-bottom: 31px;
    font-weight: bold;
}

.footer-items .item-2 ul li {
    color: gray;
    padding: 7px;
}

.footer-items .item-3 {
    flex: 2;
    padding: 30px 25px;
}


.footer-items .item-3 p {
    margin-bottom: 40px;
    font-weight: bold;
}

footer .item-3 input {
    height: 30px;
    background-color: #000;
    border-color: transparent;
    border-bottom: 1px solid #fff;
    padding: 14px;
    outline: none;
    width: 259px;
    color: #fff;
}


footer .item-3 ul{
    text-align: center;
    margin-top: 25px;
}
footer .item-3 ul li{
    display: inline-block;
}
footer .item-3 ul li i{
    color: gray;
    padding: 16px;
    
}